* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    
}
.color {
    background-color: #E8F2F7;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}
.logo {
    width: 25%;
    padding-left: 25px;
}


.fondo {
    background-image: url(images/fondop.jpg);
}
.titulo {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;

}
.titulo2{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;

}
.titulo3{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: white;

}
.parrafos {
    font-family: 'Montserrat', sans-serif;
}
.parrafo2 {
    font-family: 'Montserrat', sans-serif;
    color: white;
}
.video {
    width: 100%;
    height: 500px;
    padding: 20px;
}

.fichatecnica {
    background-color: #A2629D;
    padding: 25px;
}
.caja {
    background-color: #A2629D;
    border: white;
}
.animacion {
    width: 90%;

}
.principios {
    background-color: #F9CDCF;
}

.cajaprin {
    background-color: #F9CDCF;
    border-radius: 5px black;
}

.tituloprin {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
}
.parrafoprin {
    font-family: 'Montserrat', sans-serif;
}

.fotomichel {
    width: 100%;
}


.footer {
    background-color: #6062AA;
}

.footeralto {
    margin: 0px;
}